:root, [data-bs-theme="light"] {
	--bd-purple: #4c0bce;
	--bd-violet: #712cf9;
	--bd-accent: #ffe484;
	--bd-violet-rgb: 112.520718,44.062154,249.437846;
	--bd-accent-rgb: 255,228,132;
	--bd-pink-rgb: 214,51,132;
	--bd-teal-rgb: 32,201,151;
	--bd-violet-bg: var(--bd-violet);
	--bd-toc-color: var(--bd-violet);
	--bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
	--bd-callout-link: 10,88,202;
	--bd-callout-code-color: #ab296a;
	--bd-pre-bg: var(--bs-tertiary-bg);
}

[data-bs-theme="dark"] {
	--bd-violet: #9461fb;
	--bd-violet-bg: #712cf9;
	--bd-toc-color: var(--bs-emphasis-color);
	--bd-sidebar-link-bg: rgba(84,33,187, .5);
	--bd-callout-link: 110,168,254;
	--bd-callout-code-color: #e685b5;
	--bd-pre-bg: #1e1e1e
}

.hljs {
	background-color: var(--bs-secondary-bg);
}

.bd-content > h2, .bd-content > h3, .bd-content > h4 {
	--bs-heading-color: var(--bs-emphasis-color)
}

	.bd-content > h2:not(:first-child) {
		margin-top: 3rem
	}

.bd-content > h3 {
	margin-top: 2rem
}

.bd-content > ul li, .bd-content > ol li {
	margin-bottom: .25rem
}

	.bd-content > ul li > p ~ ul, .bd-content > ol li > p ~ ul {
		margin-top: -.5rem;
		margin-bottom: 1rem
	}

.bd-content > .table, .bd-content > .table-responsive .table {
	--bs-table-border-color: var(--bs-border-color);
	max-width: 100%;
	margin-bottom: 1.5rem;
	font-size: .875rem
}

@media (max-width: 991.98px) {
	.bd-content > .table.table-bordered, .bd-content > .table-responsive .table.table-bordered {
		border: 0
	}
}

.bd-content > .table thead, .bd-content > .table-responsive .table thead {
	border-bottom: 2px solid currentcolor
}

.bd-content > .table tbody:not(:first-child), .bd-content > .table-responsive .table tbody:not(:first-child) {
	border-top: 2px solid currentcolor
}

.bd-content > .table th:first-child, .bd-content > .table td:first-child, .bd-content > .table-responsive .table th:first-child, .bd-content > .table-responsive .table td:first-child {
	padding-left: 0
}

.bd-content > .table th:not(:last-child), .bd-content > .table td:not(:last-child), .bd-content > .table-responsive .table th:not(:last-child), .bd-content > .table-responsive .table td:not(:last-child) {
	padding-right: 1.5rem
}

.bd-content > .table th, .bd-content > .table-responsive .table th {
	color: var(--bs-emphasis-color)
}

.bd-content > .table strong, .bd-content > .table-responsive .table strong {
	color: var(--bs-emphasis-color)
}

.bd-content > .table th, .bd-content > .table td:first-child > code, .bd-content > .table-responsive .table th, .bd-content > .table-responsive .table td:first-child > code {
	white-space: nowrap
}

.table-options td:nth-child(2) {
	min-width: 160px
}

.table-options td:last-child, .table-utilities td:last-child {
	min-width: 280px
}

.table-swatches th {
	color: var(--bs-emphasis-color)
}

.table-swatches td code {
	white-space: nowrap
}

.bd-title {
	--bs-heading-color: var(--bs-emphasis-color);
	font-size: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
	.bd-title {
		font-size: 3rem
	}
}

.bd-lead {
	font-size: calc(1.275rem + .3vw);
	font-weight: 300
}

@media (min-width: 1200px) {
	.bd-lead {
		font-size: 1.5rem
	}
}

@media (min-width: 992px) {
	.border-lg-start {
		border-left: var(--bs-border-width) solid var(--bs-border-color)
	}
}

.bd-summary-link {
	color: var(--bs-link-color)
}

	.bd-summary-link:hover, details[open] > .bd-summary-link {
		color: var(--bs-link-hover-color)
	}

[data-bs-theme="blue"] {
	--bs-body-color: var(--bs-white);
	--bs-body-color-rgb: 255,255,255;
	--bs-body-bg: var(--bs-blue);
	--bs-body-bg-rgb: 13,110,253;
	--bs-tertiary-bg: #0a58ca
}

	[data-bs-theme="blue"] .dropdown-menu {
		--bs-dropdown-bg: #0c63e4;
		--bs-dropdown-link-active-bg: #084298
	}

	[data-bs-theme="blue"] .btn-secondary {
		--bs-btn-bg: #3d8bfc;
		--bs-btn-border-color: rgba(255,255,255,0.25);
		--bs-btn-hover-bg: #247cfc;
		--bs-btn-hover-border-color: rgba(255,255,255,0.25);
		--bs-btn-active-bg: #0b6dfb;
		--bs-btn-active-border-color: rgba(255,255,255,0.5);
		--bs-btn-focus-border-color: rgba(255,255,255,0.5);
		--bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2)
	}

.skippy {
	background-color: #4c0bce
}

	.skippy a {
		color: #fff
	}

@media (min-width: 992px) {
	.bd-sidebar {
		position: -webkit-sticky;
		position: sticky;
		top: 5rem;
		display: block !important;
		height: calc(100vh - 6rem);
		padding-left: .25rem;
		margin-left: -.25rem;
		overflow-y: auto
	}
}

@media (max-width: 991.98px) {
	.bd-sidebar .offcanvas-lg {
		border-right-color: var(--bs-border-color);
		box-shadow: var(--bs-box-shadow-lg)
	}
}

.bd-links-heading {
	color: var(--bs-emphasis-color)
}

@media (max-width: 991.98px) {
	.bd-links-nav {
		font-size: .875rem
	}
}

@media (max-width: 991.98px) {
	.bd-links-nav {
		-moz-column-count: 2;
		column-count: 2;
		-moz-column-gap: 1.5rem;
		column-gap: 1.5rem
	}

		.bd-links-nav .bd-links-group {
			break-inside: avoid
		}

		.bd-links-nav .bd-links-span-all {
			column-span: all
		}
}

.bd-links-link {
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: 1.125rem;
	color: var(--bs-body-color);
	text-decoration: none
}

	.bd-links-link:hover, .bd-links-link:focus, .bd-links-link.active {
		color: var(--bs-emphasis-color);
		background-color: var(--bd-sidebar-link-bg)
	}

	.bd-links-link.active {
		font-weight: 600
	}

.bd-gutter {
	--bs-gutter-x: 3rem !important;
}

@media (min-width: 992px) {
	.bd-layout {
		display: grid;
		grid-template-areas: "main";
		grid-template-columns: 6fr;
	}
}

.bd-sidebar {
}

.bd-main {
	grid-area: main
}

@media (max-width: 991.98px) {
	.bd-main {
		max-width: 760px;
		margin-inline: auto
	}
}

@media (min-width: 768px) {
	.bd-main {
		display: grid;
		grid-template-areas: "intro" "toc" "content";
		grid-template-rows: auto auto 1fr;
		gap: inherit
	}
}

@media (min-width: 992px) {
	.bd-main {
		grid-template-areas: "intro   toc" "content toc";
		grid-template-rows: auto 1fr;
	}
}

.bd-intro {
	grid-area: intro
}

.bd-toc {
	grid-area: toc
}

.bd-content {
	grid-area: content;
	min-width: 1px
}

@media (min-width: 992px) {
	.bd-toc {
		position: -webkit-sticky;
		position: sticky;
		top: 5rem;
		right: 0;
		z-index: 2;
		height: calc(100vh - 7rem);
		overflow-y: auto
	}
}


.bd-code-snippet {
	margin: 0 -1.5rem 1rem;
	border: solid var(--bs-border-color);
	border-width: 1px 0
}

@media (min-width: 768px) {
	.bd-code-snippet {
		margin-right: 0;
		margin-left: 0;
		border-width: 1px;
		border-radius: var(--bs-border-radius)
	}
}

.bd-example {
	--bd-example-padding: 1rem;
	position: relative;
	padding: var(--bd-example-padding);
	margin: 0 -1.5rem 1rem;
	border: solid var(--bs-border-color);
	border-width: 1px 0
}

	.bd-example::after {
		display: block;
		clear: both;
		content: ""
	}

@media (min-width: 768px) {
	.bd-example {
		--bd-example-padding: 1.5rem;
		margin-right: 0;
		margin-left: 0;
		border-width: 1px;
		border-radius: var(--bs-border-radius)
	}
}

.bd-example + p {
	margin-top: 2rem
}

.bd-example > .form-control + .form-control {
	margin-top: .5rem
}

.bd-example > .nav + .nav, .bd-example > .alert + .alert, .bd-example > .navbar + .navbar, .bd-example > .progress + .progress {
	margin-top: 1rem
}

.bd-example > .dropdown-menu {
	position: static;
	display: block
}

.bd-example > :last-child, .bd-example > nav:last-child .breadcrumb {
	margin-bottom: 0
}

.bd-example > hr:last-child {
	margin-bottom: 1rem
}

.bd-example > svg + svg, .bd-example > img + img {
	margin-left: .5rem
}

.bd-example > .btn, .bd-example > .btn-group {
	margin: .25rem .125rem
}

.bd-example > .btn-toolbar + .btn-toolbar {
	margin-top: .5rem
}

.bd-example > .list-group {
	max-width: 400px
}

.bd-example > [class*="list-group-horizontal"] {
	max-width: 100%
}

.bd-example .fixed-top, .bd-example .sticky-top {
	position: static;
	margin: calc(var(--bd-example-padding) * -1) calc(var(--bd-example-padding) * -1) var(--bd-example-padding)
}

.bd-example .fixed-bottom, .bd-example .sticky-bottom {
	position: static;
	margin: var(--bd-example-padding) calc(var(--bd-example-padding) * -1) calc(var(--bd-example-padding) * -1)
}

.bd-example .pagination {
	margin-bottom: 0
}

.bd-example-row [class^="col"], .bd-example-cols [class^="col"] > *, .bd-example-cssgrid [class*="grid"] > * {
	padding-top: .75rem;
	padding-bottom: .75rem;
	background-color: rgba(var(--bd-violet-rgb), 0.15);
	border: 1px solid rgba(var(--bd-violet-rgb), 0.3)
}

.bd-example-row .row + .row, .bd-example-cssgrid .grid + .grid {
	margin-top: 1rem
}

.bd-example-row-flex-cols .row {
	min-height: 10rem;
	background-color: rgba(var(--bd-violet-rgb), 0.15)
}

.bd-example-flex div:not(.vr) {
	background-color: rgba(var(--bd-violet-rgb), 0.15);
	border: 1px solid rgba(var(--bd-violet-rgb), 0.3)
}

.example-container {
	width: 800px;
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-right: auto;
	margin-left: auto
}

.example-row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-.5 * var(--bs-gutter-x));
	margin-left: calc(-.5 * var(--bs-gutter-x))
}

.example-content-main {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-top: var(--bs-gutter-y)
}

@media (min-width: 576px) {
	.example-content-main {
		flex: 0 0 auto;
		width: 50%
	}
}

@media (min-width: 992px) {
	.example-content-main {
		flex: 0 0 auto;
		width: 66.666667%
	}
}

.example-content-secondary {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-top: var(--bs-gutter-y)
}

@media (min-width: 576px) {
	.example-content-secondary {
		flex: 0 0 auto;
		width: 50%
	}
}

@media (min-width: 992px) {
	.example-content-secondary {
		flex: 0 0 auto;
		width: 33.333333%
	}
}

.bd-example-ratios .ratio {
	display: inline-block;
	width: 10rem;
	color: var(--bs-secondary-color);
	background-color: var(--bs-tertiary-bg);
	border: var(--bs-border-width) solid var(--bs-border-color)
}

	.bd-example-ratios .ratio > div {
		display: flex;
		align-items: center;
		justify-content: center
	}

.bd-example-ratios-breakpoint .ratio-4x3 {
	width: 16rem
}

@media (min-width: 768px) {
	.bd-example-ratios-breakpoint .ratio-4x3 {
		--bs-aspect-ratio: 50%
	}
}

.bd-example-offcanvas .offcanvas {
	position: static;
	display: block;
	height: 200px;
	visibility: visible;
	transform: translate(0)
}

.tooltip-demo a {
	white-space: nowrap
}

.tooltip-demo .btn {
	margin: .25rem .125rem
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bd-violet-bg);
	--bs-tooltip-color: var(--bs-white)
}

.custom-popover {
	--bs-popover-max-width: 200px;
	--bs-popover-border-color: var(--bd-violet-bg);
	--bs-popover-header-bg: var(--bd-violet-bg);
	--bs-popover-header-color: var(--bs-white);
	--bs-popover-body-padding-x: 1rem;
	--bs-popover-body-padding-y: .5rem
}

.scrollspy-example {
	height: 200px;
	margin-top: .5rem;
	overflow: auto
}

.scrollspy-example-2 {
	height: 350px;
	overflow: auto
}

.simple-list-example-scrollspy .active {
	background-color: rgba(var(--bd-violet-rgb), 0.15)
}

.bd-example-border-utils [class^="border"] {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	margin: .25rem;
	background-color: var(--bs-tertiary-bg)
}

.bd-example-rounded-utils [class*="rounded"] {
	margin: .25rem
}

.bd-example-position-utils {
	position: relative;
	padding: 2rem
}

	.bd-example-position-utils .position-relative {
		height: 200px;
		background-color: var(--bs-tertiary-bg)
	}

	.bd-example-position-utils .position-absolute {
		width: 2rem;
		height: 2rem;
		background-color: var(--bs-body-color);
		border-radius: .375rem
	}

.bd-example-position-examples::after {
	content: none
}

.bd-example-placeholder-cards::after {
	display: none
}

.bd-example-placeholder-cards .card {
	width: 18rem
}

.bd-example-toasts {
	min-height: 240px
}

.bd-example-zindex-levels {
	min-height: 15rem
}

	.bd-example-zindex-levels > div {
		color: var(--bs-body-bg);
		background-color: var(--bd-violet);
		border: 1px solid var(--bd-purple)
	}

		.bd-example-zindex-levels > div > span {
			position: absolute;
			right: 5px;
			bottom: 0
		}

	.bd-example-zindex-levels > :nth-child(2) {
		top: 3rem;
		left: 3rem
	}

	.bd-example-zindex-levels > :nth-child(3) {
		top: 4.5rem;
		left: 4.5rem
	}

	.bd-example-zindex-levels > :nth-child(4) {
		top: 6rem;
		left: 6rem
	}

	.bd-example-zindex-levels > :nth-child(5) {
		top: 7.5rem;
		left: 7.5rem
	}

.btn-clipboard, .btn-edit {
	display: block;
	padding: .5em;
	line-height: 1;
	color: var(--bs-body-color);
	background-color: var(--bd-pre-bg);
	border: 0;
	border-radius: .25rem
}

	.btn-clipboard:hover, .btn-edit:hover {
		color: var(--bs-link-hover-color)
	}

	.btn-clipboard:focus, .btn-edit:focus {
		z-index: 3
	}

.highlight {
	position: relative;
	padding: 0.5rem 0.5rem;
	background-color: var(--bd-pre-bg);
	border-radius: calc(var(--bs-border-radius) - 1px);
}

/*@media (min-width: 768px) {
	.highlight {
		padding: .75rem 1.25rem;
		border-radius: calc(var(--bs-border-radius) - 1px)
	}
}

@media (min-width: 992px) {
	.highlight pre {
		margin-right: 1.875rem
	}
}
*/
.highlight pre {
	padding: 0;
	margin: 0;
	overflow: auto;
	white-space: pre;
	background-color: transparent;
	border: 0
}

/*	.highlight pre code {
		font-size: inherit;
		color: var(--bs-body-color);
		word-wrap: normal
	}
*/
.bd-example-snippet .highlight pre {
	margin-right: 0
}

.highlight-toolbar {
	background-color: var(--bd-pre-bg)
}

	.highlight-toolbar + .highlight {
		border-top-left-radius: 0;
		border-top-right-radius: 0
	}

@media (min-width: 768px) {
	.bd-file-ref .highlight-toolbar {
		border-top-left-radius: calc(var(--bs-border-radius) - 1px);
		border-top-right-radius: calc(var(--bs-border-radius) - 1px)
	}
}

.bd-content .bd-code-snippet {
	margin-bottom: 1rem
}

.btn-bd-primary {
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8
}

.btn-bd-accent {
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bd-accent);
	--bs-btn-border-color: var(--bd-accent);
	--bs-btn-hover-color: var(--bd-dark);
	--bs-btn-hover-bg: var(--bd-accent);
	--bs-btn-hover-border-color: var(--bd-accent);
	--bs-btn-focus-shadow-rgb: var(--bd-accent-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: var(--bs-btn-hover-bg);
	--bs-btn-active-border-color: var(--bs-btn-hover-border-color)
}

.btn-bd-light {
	--btn-custom-color: #9461fb;
	--bs-btn-color: var(--bs-gray-600);
	--bs-btn-border-color: var(--bs-border-color);
	--bs-btn-hover-color: var(--btn-custom-color);
	--bs-btn-hover-border-color: var(--btn-custom-color);
	--bs-btn-active-color: var(--btn-custom-color);
	--bs-btn-active-bg: var(--bs-white);
	--bs-btn-active-border-color: var(--btn-custom-color);
	--bs-btn-focus-border-color: var(--btn-custom-color);
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb)
}

.bd-btn-lg {
	--bs-btn-border-radius: .5rem;
	padding: .8125rem 2rem
}

.bd-callout {
	--bs-link-color-rgb: var(--bd-callout-link);
	--bs-code-color: var(--bd-callout-code-color);
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	color: var(--bd-callout-color, inherit);
	background-color: var(--bd-callout-bg, var(--bs-gray-100));
	border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300))
}

	.bd-callout h4 {
		margin-bottom: .25rem
	}

	.bd-callout > :last-child {
		margin-bottom: 0
	}

	.bd-callout + .bd-callout {
		margin-top: -.25rem
	}

	.bd-callout .highlight {
		background-color: rgba(0,0,0,0.05)
	}

.bd-callout-info {
	--bd-callout-color: var(--bs-info-text-emphasis);
	--bd-callout-bg: var(--bs-info-bg-subtle);
	--bd-callout-border: var(--bs-info-border-subtle)
}

.bd-callout-warning {
	--bd-callout-color: var(--bs-warning-text-emphasis);
	--bd-callout-bg: var(--bs-warning-bg-subtle);
	--bd-callout-border: var(--bs-warning-border-subtle)
}

.bd-callout-danger {
	--bd-callout-color: var(--bs-danger-text-emphasis);
	--bd-callout-bg: var(--bs-danger-bg-subtle);
	--bd-callout-border: var(--bs-danger-border-subtle)
}

.bd-brand-logos {
	color: #712cf9
}

	.bd-brand-logos .inverse {
		color: #fff;
		background-color: #712cf9
	}

.bd-brand-item + .bd-brand-item {
	border-top: 1px solid var(--bs-border-color)
}

@media (min-width: 768px) {
	.bd-brand-item + .bd-brand-item {
		border-top: 0;
		border-left: 1px solid var(--bs-border-color)
	}
}

.btn-clipboard {
	position: relative;
	z-index: 2;
	margin-top: 1.25rem;
	margin-right: .75rem
}

.bd-placeholder-img {
	font-size: 1.125rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-anchor: middle
}

.bd-placeholder-img-lg {
	font-size: calc(1.475rem + 2.7vw)
}

@media (min-width: 1200px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem
	}
}

.anchor-link {
	padding: 0 .175rem;
	font-weight: 400;
	color: rgba(13,110,253,0.5);
	text-decoration: none;
	opacity: 0;
	transition: color 0.15s ease-in-out,opacity 0.15s ease-in-out
}
