@page "/"
@inject IThemeState themeState
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
	<span>Mode:</span> @themeState.Mode
</div>
<div>
	<span>AppliedMode:</span> @themeState.AppliedMode
</div>
<div>
	<span>Theme:</span> @themeState.Theme
</div>

<button class="btn btn-danger btn-lg px-5" @onclick="SignIn">
<i class="bi bi-box-arrow-in-right me-2"></i>Sign In
</button>

<button class="btn btn-danger btn-lg px-5" @onclick="Signout">
<i class="bi bi-box-arrow-in-right me-2"></i>Sign Out
</button>

@code {
	private void SignIn() {
		InteractiveRequestOptions requestOptions = new() {
			Interaction = InteractionType.SignIn,
			ReturnUrl = "/",
		};
		this.Navigation.NavigateToLogin(Routes.Login, requestOptions);
	}
	private void Signout() {
		InteractiveRequestOptions requestOptions = new() {
			Interaction = InteractionType.SignOut,
			ReturnUrl = "/",
		};
		this.Navigation.NavigateToLogin(Routes.Logout, requestOptions);
	}
}