.bs-docs-section {
	margin-bottom: 1.5rem;
	border: 1px solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	padding: 0.5rem 1rem;
}


.bs-component {
	position: relative;
	margin-bottom: 1rem;
}

	.bs-component + .bs-component {
		margin-top: 1rem;
	}

	.bs-component .card {
		margin-bottom: 1rem;
	}

	.bs-component > .btn {
		margin: .25rem .125rem;
	}

	.bs-component > .btn-toolbar > .btn-group,
	.bs-component > .btn-group,
	#home .section-preview .card .btn-group {
		margin-bottom: .25rem;
	}
