@media (min-width: 576px) {
	.noscroll header {
		right: var(--scrollbar-width);
	}
}

.navbar-toggler {
	width: 50px;
	height: 40px;
	color: var(--bs-dark);
	border: none;
	background: transparent;
	touch-action: manipulation;
	--bs-navbar-toggler-border-radius: 0;

	&:hover, &:focus-visible {
		opacity: 0.7;
		transform: scale(1.05);
		background: rgba(0, 0, 0, 0.05);
	}
}

[data-bs-theme="dark"] .navbar-toggler {
	color: var(--bs-white);

	&:hover, &:focus-visible {
		background: rgba(255, 255, 255, 0.1);
	}
}

.navbar-icon {
	vertical-align: unset;
}

.navbar-icon path {
	fill: currentColor;
}

.launcher-img-wrapper {
	display: inline-table;
	border-radius: 50%;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.launcher-img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.bi-box-arrow-up-right {
	font-size: 8px !important;
}
