.main-container {
	display: grid;
	grid-template-areas: "main";
	grid-template-columns: calc(100vw - 11px);
	gap: 0;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;

	&:has(+ footer) {
		margin-bottom: 36px;
	}
}

#app:has(header .navbar-nav) .main-container {
	// Header Only
	margin-top: 40px;
}

.app-main {
	grid-area: main;
	order: 1;
	padding: 0.75rem 0.5rem 0.75rem 0;
}