.main-container {
	display: grid;
	grid-template-areas: "main";
	grid-template-columns: calc(100vw - 11px);
	gap: 0;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	transition: grid-template-columns .2s ease;

	&:has(+ footer) {
		margin-bottom: 36px;
	}
}

#app:has(header .navbar-nav) .main-container {
	// Header Only
	margin-top: 40px;
}

.app-main {
	grid-area: main;
	order: 1;
	padding: 0.75rem 0.5rem 0.75rem 0.75rem;
}

@media (min-width: 992px) {
	.main-container {
		grid-template-areas: "navmenu main";
		grid-template-columns: 250px calc(100vw - 262px);
		gap: 0 0;

		&:has(.minimal-mode) {
			grid-template-columns: 66px calc(100vw - 78px);
		}

		&:has(+ footer) > ::deep .nav-menu-container {
			bottom: 36px;
		}
	}
	.app-main {
		padding-left: 0;
	}

}