.error-image-container {
	max-width: 350px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-radius: 0.75rem;
	box-shadow: 4px 8px 20px 4px rgba(0, 0, 0, 0.4), 2px 8px 20px 2px rgba(0, 0, 0, 0.3);

	.vignette-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: radial-gradient(circle, transparent 60%, rgba(33, 37, 41, 0.6) 100%);
		border-radius: 0.75rem;
		pointer-events: none; // Makes sure clicks pass through to the image
	}
}
