$splash-border-radius: 4px;

.splash-container {
	margin: 0 auto;
}

.splash-backdrop {
	user-select: none;
	display: block;
	position: fixed;
	inset: 0;
	background-color: rgba(190, 190, 190, .25);
}

.splash-screen {
	/* default to mobile */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 1050;
}

.splash-screen-content {
	display: contents;
	user-select: none;
}

.splash-contents {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.splash-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: calc(0.5rem + 3vw);
}

.splash-subtitle {
	margin-bottom: 2rem;
	font-size: calc(0.5rem + 4vw);
}

.splash-busy-text {
	font-size: calc(0.5rem + 1vw);
	margin: 1rem 0;
	color: #3498db;
}

.splash-extra-text {
	font-size: 14px;
	color: #6c757d;
}

[data-bs-theme="dark"] .splash-backdrop {
	background-color: rgba(30, 30, 30, 0.25);
}

[data-bs-theme="dark"] .splash-screen {
	background: #222;
}

@media(min-width: 576px) {

	.splash-body {
		/* aka .dialog-body */
		padding: 1rem 1rem;
	}

	.splash-screen {
		/* aka .dialog */
		position: absolute;
		top: 50%;
		left: 50%;
		bottom: unset;
		right: unset;
		transform: translate(-50%, -50%);
		border-radius: 1rem;
		box-shadow: rgba(0, 0, 0, 0.28) 0px 16px 18px 0px, rgba(0, 0, 0, 0.12) 0px 4px 16px 0px; /*0 1rem 3rem rgba(0, 0, 0, 0.175);*/
	}

	[data-bs-theme="dark"] .splash-screen {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 16px 18px 0px, rgba(0, 0, 0, 0.15) 0px 4px 16px 0px;
	}
	
	.splash-contents {
		width: 450px;
	}

	.splash-title {
		font-size: 1.75rem
	}

	.splash-subtitle {
		font-size: 1.5rem;
	}

	.splash-busy-text {
		font-size: 14px;
	}
}